:root {
    --branco-1: #FFFFFF;
    --cinza-2: #c0c0c0;
    --botao-azul: #167bf7;
    --background-color: #00030C;
    --fonte: 'Inter';
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--branco-1);
    font-family: var(--fonte);
    font-size: 16px;
    font-weight: 400;
}

.main {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--botao-azul);
    color: var(--branco-1);
    padding: 1em;
    border-radius: 5px;
    display: block;
    text-decoration: none;
    text-align: center;
}

.botao_2 {
    background-color: transparent;
    border: 2px solid var(--branco-1);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-2);
}